<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.stockwatch105991" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>StockWatch</name>
  <description>
      An application that would seamlessly help you keep track of the dynamic nature of the stock market.
      StockWatch is developed using the Ionic Framework.
    </description>
  <author email="jacobmodayil@tamu.edu" href="http://www.jacobchackomodayil.com/">
      Jacob Chacko Modayil
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
